<div>
    <div class="landroid"></div>
    <div><img class="wheel" src="img/roue.png"></div>
    <div class= "sol"><img src="img/sol1.png"></div>
    <div class="lame" ><img src="img/lame.png"></div>
    <div class="base""><img src="img/1.png"></div>
    <div class="landroidrouge"><img src="img/0.png"></div>
</div>