<div>
    <div class="landroid"></div>
    <div ><img class="wheel" src="img/roue.png"></div>
    <div class= "sol"><img src="img/sol1.png"></div>
    <div class="lamebloquee" ><img src="img/10.png"></div>
</div>