<div>
    <div class="landroid"></div>
    <div><img class="wheelanime" src="img/roue.png"></div>
    <div class= "solanime"><img src="img/solanime.png"></div>
    <div class="lame" ><img src="img/lame.png"></div>
</div>