<div>
    <div class="landroid"></div>
    <div><img class="wheelanime" src="img/roue.png"></div>
    <div class="bordure" ><img src="img/4.png"></div>
    <div class="lameanime" ><img src="img/lame.png"></div>
</div>