<div>
    <div class="landroid"></div>
    <div ><img class="wheel" src="img/roue.png"></div>
    <div class= "sol"><img src="img/sol1.png"></div>
    <div class="lame" ><img src="img/lame.png"></div>
    <div class="pause" ><img src="img/9.png"></div>
</div>