<div>
    <div class="landroidleve" ><img src="img/8.png"></div>
    <div><img class="wheelleve" src="img/roue.png"></div>
    <div class= "sol"><img src="img/sol1.png"></div>
    <div class="lameleve" ><img src="img/lame.png"></div>
</div>