.container-landroid {
    position: absolute;
    height: 233px;
    width: 289px;
    border: 6px solid rgb(192, 192, 192); 
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
}

.container2-landroid {
    position: relative;
    height: 233px;
    width: 289px;
    border: 6px solid rgb(192, 192, 192); 
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
}

.landroid {
    height: 233px;
    width: 289px;
    position: absolute;
    z-index: 2;
    background-image: url(img/Background.png);
}

.wheel {
    position: absolute;
    height: 69px;
    width: 68px;
    top: 112px;
    left: 41px;
    z-index: 3;
}

.wheelanime {
    position: absolute;
    height: 69px;
    width: 68px;
    top: 112px;
    left: 41px;
    z-index: 3;
    animation: wheel 4s linear infinite;
}

.wheelleve {
    position: absolute;
    height: 69px;
    width: 68px;
    top: 112px;
    left: 41px;
    z-index: 3;
    animation: leve 2s linear infinite;
}

.lame {
    position: absolute;
    top: 142px;
    left: 100px;
    z-index: 3;
}

.lameanime {
    position: absolute;
    top: 142px;
    left: 100px;
    z-index: 3;
    animation: lame 0.7s linear infinite;
}

.lameleve {
    position: absolute;
    top: 142px;
    left: 100px;
    z-index: 3;
    animation: leve 2s linear infinite;
}

.sol {
    height: 46px;
    width: 300px;
    position: absolute;
    top: 175px;
    left: -35px;
    margin: 0 30px;
    z-index: 1;
}

.solanime {
    height: 46px;
    width: 300px;
    position: absolute;
    top: 175px;
    left: -20px;
    margin: 0 30px;
    z-index: 1;
    animation: solanime 0.5s linear infinite;
}

.bordure {
    position: absolute;
    height: 46px;
    width: 300px;
    top: 175px;
    left: -20px;
    margin: 0 30px;
    z-index: 1;
    animation: solanime 0.5s linear infinite;
    background-image: url(img/4.png);
}

.landroidrouge {
    position: absolute;
    height: 233px;
    width: 289px;
    z-index: 3;
    top: 0px;
    left: -2px;
}

.base {
    position: absolute;
    height: 233px;
    width: 289px;
    z-index: 3;
    top: 0px;
    left: -2px;
}

.cherchebase {
    position: absolute;
    height: 233px;
    width: 289px;
    z-index: 3;
    top: 0px;
    left: -2px;
    animation: clignotte 1s linear infinite;
}

.cherchefilbordure {
    position: absolute;
    height: 233px;
    width: 289px;
    z-index: 3;
    top: 0px;
    left: -2px;
    animation: clignotte 1s linear infinite;
}

.landroidleve {
    position: absolute;
    height: 233px;
    width: 289px;
    z-index: 4;
    top: 0px;
    left: 0px;
    animation: leve 2s linear infinite;
    background-image: none;
}

.pause {
    position: absolute;
    height: 233px;
    width: 289px;
    z-index: 4;
    top: 0px;
    left: 0px;
    animation: clignotte 2s linear infinite;
    background-image: none;
}

.lamebloquee {
    position: absolute;
    height: 233px;
    width: 289px;
    z-index: 4;
    top: 0px;
    left: 0px;
    animation: clignotte 2s linear infinite;
    background-image: none;
}

.retourhome {
    position: absolute;
    height: 233px;
    width: 289px;
    z-index: 4;
    top: 0px;
    left: 0px;
    animation: clignotte 2s linear infinite;
    background-image: none;
}

@keyframes wheel {
    100%{
        transform: rotate(360deg)
    }
}

@keyframes lame {
    100%{
        transform: rotateY(360deg);
    }
}

@keyframes solanime {
    100%{
        transform: translateX(-11.5px);
    }
}

@keyframes clignotte {
    50%{
        opacity: 0;
    }
}

@keyframes leve {
    100%{
        transform: translateY(-40px);
    }
}